# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# LLVM and Makefile cruft
Makefile.common
Makefile.llvm.config
autoconf/aclocal.m4
autoconf/autom4te.cache
configure
config.log
config.status
include/config.h
configure.out
Debug+Asserts
*.inc
docs/dox
